@import-normalize; /* bring in normalize.css styles */

body {
  background-color: rgb(232, 232, 243);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
