.transaction {
    width: 500px;
    border-collapse: collapse;
}

.transaction th {
    font-weight: bold;
    text-align: left;
    padding: 10px;
    background-color: #08a0b4;
    border: 1px solid rgb(36, 193, 221);
}

.transaction td {
    text-align: left;
    padding: 10px;
    border: 1px solid rgb(181, 225, 233);
}

.transaction tbody tr:nth-child(even) {
    background-color: #c1f1f3;
}

.transaction tbody tr:nth-child(odd) {
    background-color: rgb(206, 255, 248);
}